<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="##"> <img src="http://sistemas.atu.gob.pe/plataformavirtual/Imagen/logo_HOME_290x163.png" alt="" width="70" /></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="perfillogeado=='ADMINISTRADOR'" >
            <a class="nav-link active" [ngClass]="registrousuario ? 'active':'' " aria-current="page" routerLink="/registrousuario"  (click)="clickruta('registrousuario')" href="#">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [ngClass]="registroacta ? 'active':'' "  href="#" routerLink="/registroacta" (click)="clickruta('registroacta')" >Registro Acta</a>
          </li>
          <li class="nav-item" *ngIf="perfillogeado=='ADMINISTRADOR'" >
            <a class="nav-link active" [ngClass]="lista ? 'active':'' " href="#" (click)="clickruta('lista')" routerLink="/lista" >Listado Acta</a>
          </li>
        </ul>
        <div class="d-flex">
          <button class="btn btn-outline-danger" type="button" style="background-color: #e21717; color: white;" (click)="cerrarSesion()" >Cerrar sesión</button>
        </div>
      </div>
    </div>
</nav>